[submodule "extern/glfw"]
	path = extern/glfw
	url = git@github.com:glfw/glfw.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot.git
[submodule "extern/bstruct"]
	path = extern/bstruct
	url = git@github.com:Pwootage/bstruct.git
[submodule "extern/json"]
	path = extern/json
	url = git@github.com:nlohmann/json.git
[submodule "extern/fmt"]
	path = extern/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "extern/ImGuiFileDialog"]
	path = extern/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule "extern/imgui_club"]
	path = extern/imgui_club
	url = git@github.com:ocornut/imgui_club.git
